$pageColorMain: #FFF;
$pageColorSecondary: #F8FBFA;
$buttonColor: #0DBC91;
$buttonHoverColor:#00D29F;
$menuMobileColor: #F6F6F6;
$textColorMain: #364844;
$textColorSecondary: #868686;
$menuColor: #1FA181;
$footerColor: #08664F;

