$mainFontSize: 16px;
$secondaryFontSize: 14px;
$mainTitleFontSize: 36px;
$secondaryTitleFontSize: 38px;
$subtitleFontSize: 22px;

$normalLineHeight: normal;
$mainLineHeight: 24px;
$secondaryLineHeight: 21px;

$primaryFontWeight: 700;
$normalFontWeight: 400;

