@mixin adaptiveFont($pcSize, $mobileSize ) {
    $addSize: $pcSize - $mobileSize;
    font-size: calc(#{$mobileSize + px} + #{$addSize + px} * ((100vw / 320px) / #{$screen-desktop} - 320));
}

@mixin adaptiveLineHeight($pcSize, $mobileSize ) {
    $addSize: $pcSize - $mobileSize;
    line-height: calc(#{$mobileSize + px} + #{$addSize + px} * ((100vw / 320px) / #{$screen-desktop} - 320));
}

@mixin adaptiveSize($pcSize, $mobileSize, $maxWidth ) {
    $addSize: $pcSize - $mobileSize;
    max-width: calc(#{$mobileSize + px} + #{$addSize + px} * ((100vw / 320px) / #{$maxWidth} - 320));
}